[submodule "Theory/NumericalOptimization/LinearProgramming/SimplexMethod"]
	path = Theory/NumericalOptimization/LinearProgramming/SimplexMethod
	url = git@github.com:retergty/Simplex_Method.git
[submodule "Theory/NumericalOptimization/QuadraticProgramming"]
	path = Theory/NumericalOptimization/QuadraticProgramming
	url = git@github.com:retergty/QuadProg.git
[submodule "Theory/Kinamatics/LevenVergMarquartAlgorithm"]
	path = Theory/Kinamatics/LevenVergMarquartAlgorithm
	url = git@github.com:retergty/LevenvergMarquartdAlgorithm.git
[submodule "Libraries/DDS"]
	path = Libraries/DDS
	url = git@github.com:retergty/Motor_DDS.git
[submodule "Theory/ModelPredictControl/DynamicMatrixControl"]
	path = Theory/ModelPredictControl/DynamicMatrixControl
	url = git@github.com:retergty/DynamicMatrixControl.git
[submodule "Libraries/ROS2/Example/QuadraticThrustVector"]
	path = Libraries/ROS2/Example/QuadraticThrustVector
	url = git@github.com:retergty/QuadraticThrustVector.git
